.dark-mode {
    background-color: black;
    color: white;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px dashed black;
    padding: 10px;
}

.ai-wisdom {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: darkblue;
}