<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#stock-ticker-select").select2();
        });
    </script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        body {
            background-color: whitesmoke;
        }
    </style>
    <title>Word Popularity Graph</title>
</head>


<body>
<div style="text-align: center;" class="center">
    <h1>Word Popularity Graph</h1>
    <form action="{{ url_for('graph') }}" method="post">

        <label for="word">Word:</label>
        <input type="text" id="word" name="word">
        <br>

        <label for="stock-ticker-select">Stock Ticker:</label>
        <select id="stock-ticker-select" name="stock-ticker">
            <option>Select a Ticker</option>
            {% for ticker in ticker_list %}
                <option value="{{ ticker }}">{{ ticker }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="start">Start Date:</label>
        <input type="date" id="timeframe-start" name="timeframe-start"
               value=""
               min="2004-01-01" max="">
        <label for="end">End date:</label>
        <input type="date" id="timeframe-end" name="timeframe-end"
               value=""
               min="2004-01-01" max="">
        <br>

        <script>
            let today = new Date();
            let dd = String(today.getDate()).padStart(2, '0');
            let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            let yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("timeframe-start").setAttribute("max", today);
            document.getElementById("timeframe-end").setAttribute("max", today);
        </script>

        <br><br>
        <input type="submit" value="Submit">
    </form>

    <h2>Ultimate Finance Bro Guide</h2>
    <p>1. Pick a word you think is correlated with stonks</p>
    <p>2. Pick a stonk</p>
    <p>3. Select a start date and end date over which to observe said word and stonk</p>
    <p>4. Click submit</p>
    <p>5. Observe the stonks</p>
    <p>6. Observe the correlation</p>
    <p>7. Profit</p>

</div>
</body>
</html>