<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        body {
            background-color: whitesmoke;
        }
    </style>
    <title>Word Popularity Graph</title>
</head>


<body>
<div style="text-align: center;" class="center">
    <h1>Word Popularity Graph</h1>
    <form action="{{ url_for('graph') }}" method="post">

        <label for="word">Word:</label>
        <input type="text" id="word" name="word">
        <br>


        <div>
            <label for="start">Stock Ticker:</label>
            <datalist id="stock-ticker">
                {% for ticker in ticker_list %}
                    <option value="{{ ticker }}">
                {% endfor %}
            </datalist>
            <input autoComplete="on" list="ticker_list"/>
        </div>


        <label for="start">Start Date:</label>
        <input type="date" id="start" name="timeframe-start"
               value=""
               min="2004-01-01" max="">

        <label for="end">End date:</label>
        <input type="date" id="end" name="timeframe-end"
               value=""
               min="2004-01-01" max="">
        <br>
        <script>
            let today = new Date();
            let dd = String(today.getDate()).padStart(2, '0');
            let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            let yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("start").setAttribute("max", today);
            document.getElementById("end").setAttribute("max", today);
        </script>


        <br><br>
        <input type="submit" value="Submit">
    </form>

    <div style="text-align: center;" class="center" ; id="plot">
        {{ plot_div|safe }}
    </div>

</div>
</body>
</html>